* {
    box-sizing: border-box;
}

body {
    font-family: 'Futura PT','Arial' sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./../images/body-bckg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

img {
    object-fit: cover;
}