.first-inner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F9F8F8;
}

.first-inner__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;

}

.tel-wrapper__inner {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #333333;
}

.date-wrapper__inner {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.date__strong{
  
}